{% extends "base.twig" %}
{% block title %}
	Ajouter un produit
{% endblock %}
{% block main %}
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h2">Ajouter un produit</h1>
		<div class="btn-toolbar mb-2 mb-md-0">
			<a class="btn btn-sm btn-outline-secondary" href="read_produit.php">
				<i class="bi bi-arrow-left"></i>
				Retour à la liste des produit</a>
		</div>
	</div>
	<form
		action="create_produit.php" method="post" enctype="multipart/form-data">
		{# Nom #}
		<div class="mb-3">
			<label for="nom" class="form-label">
				Nom du produit
			</label>
			<input type="text" class="form-control" id="nom" name="nom" aria-describedby="produitNomHelp" required/>
			<div id="produitNomHelp" class="form-text">
				Saisir un nom de produit.
			</div>
		</div>
		{# Image #}
		<div class="mb-3">
			<label for="image" class="form-label">Image du produit</label>
			<input class="form-control" type="file" id="image" name="image">
		</div>
		{# Description #}
		<div class="mb-3">
			<label for="description" class="form-label">
				Description
			</label>
			<textarea class="form-control" id="description" name="description" rows="3"></textarea>
		</div>
		{# Prix #}
		<div class="mb-3">
			<label for="prix" class="form-label">
				Prix du produit
			</label>
			<input type="number" class="form-control" id="prix" name="prix" placeholder="€" required/>
		</div>
		{# Catégorie #}
		<div class="mb-3">
			<select class="form-select" name="categorie" required aria-label="Default select example">
				<option>
					Choisir une catégorie
				</option>
				{% for category in categories %}
					<option value="{{ category.id }}">
						{{ category.type }}
					</option>
				{% endfor %}
			</select>
		</div>
		{# Note #}
		<div class="mb-3">
			<label for="note">
				Note du produit
			</label>
			<input type="number" class="form-control" name="note" placeholder="10" id="note" required/>
		</div>
		{# Date #}
		<div class="mb-3">
			<label for="date">
				Date de sortie
			</label>
			<input type="date" class="form-control" name="date" id="date" required/>
		</div>
		{# Tag #}
		<div class="mb-3">
			<label for="tag" class="form-label">
				Nom Tag
			</label>
			<select class="form-select" name="tag" aria-label="Default select example">
				<option selected value="null">
					Choisir un tag
				</option>
				{% for tag in tags %}
					<option value="{{ tag.id }}">
						{{ tag.tag }}
					</option>
				{% endfor %}
			</select>
		</div>
		<button type="submit" class="btn btn-primary">
			Ajouter
		</button>
	</form>
{% endblock %}
