{% extends "base.twig" %}


{% block title %}Accueil
{% endblock %}


{% block main %}
	<div class="px-4 pt-5 my-5 text-center border-bottom">
		<h1 class="display-4 fw-bold text-body-emphasis">Instant Gaming CMS</h1>
		<div class="col-lg-6 mx-auto">
			<p class="lead mb-4">Bienvenue sur l'outil de gestion de contenu de la boutique Instant Gaming. Instant gaming est un magasin de clés, qui permet de se procurer des jeux à des prix imbattables.</p>
			<div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
				<a href="read_produit.php" class="btn btn-primary btn-lg px-4 me-sm-3">Voir les produits</a>
				<a href="read_categorie.php" class="btn btn-outline-secondary btn-lg px-4">Voir les catégories</a>
			</div>
		</div>
		<div class="overflow-hidden" style="max-height: 30vh;">
			<div class="container px-5">
				<img src="../images/dashboard.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
			</div>
		</div>
	</div>
{% endblock %}
