{% extends "base.twig" %}
{% block title %}
	Modifier tag
{% endblock %}
{% block main %}
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h2">Mettre à jour le tag #{{tag.id}}</h1>
		<div class="btn-toolbar mb-2 mb-md-0">
			<a class="btn btn-sm btn-outline-secondary" href="read_tag.php">
				<i class="bi bi-arrow-left"></i>
				Retour à la liste des tags</a>
		</div>
	</div>
	{% if msg %}
		<div class="alert alert-success" role="alert">{{ msg }}</div>
	{% else %}
		<form action="update_tag.php?id={{tag.id}}" method="post">
			<div class="mb-3">
				<label for="tag" class="form-label">Nom du tag</label>
				<input type="text" class="form-control" id="tag" name="tag" aria-describedby="tagHelp" value="{{tag.tag}}" required/>
				<div id="tagHelp" class="form-text">Saisir un nom de tag.</div>
			</div>
			<button type="submit" class="btn btn-primary">Modifier</button>
		</form>
	{% endif %}
{% endblock %}
